.container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    font-family: cursive;
    width: 100%;
    height: 100%;
}
#quote-box{
    background: url(./img/fondo2.jpg); 
    background-size: cover; 
    width: 924px;
    height: 620px;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#text{
    font-size: 1.5em;
    text-align: center;
    
}
#author{
    font-size: 1.5em;
    padding-top: 2rem;
    font-family: Serif;
}
#new-quote{
    background: transparent;
    color: rgb(22, 104, 197);
    border-radius: 30px;
    margin-bottom: 30px;
    border: 2px solid #22249b;
    width: 250px;
    height: 50px;
    margin-top: 30px;
    font-family: cursive;
    font-size: 16px;
    cursor: pointer;
    transition: background 1s,color 1s;
}
#new-quote:hover{
    background : #4039a3;
    color: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
a{
    background: transparent;
    color: rgb(22, 104, 197);
    margin-top: 30px;
    font-size: 50px;
    cursor: pointer;
    transition: background 1s,color 1s;
}
a:hover{

    border-radius: 10px;
    padding: 5px;
    color: rgb(141, 8, 218);
   
    
}

  .title {
    text-align: center;
    font-weight: 500px;
    color: rgb(22, 104, 197);
    font-family: Serif;
    font-size: 35px;

  }
  @media only screen and (max-width: 350px) {
    .title {
      font-size: 17px;
      margin-bottom: 5px;
    }
    #quote-box {
      width: 250px;
    }
    #text{
        font-size: 2px;
        text-align: center;
        
    }
  }